---
const date = new Date().getFullYear();
---

<footer>
  <div>
    <p x-data="{ year: new Date().getFullYear() }">
      ©
      <span x-text="year">{date}</span>
      All rights reserved.
    </p>
  </div>
</footer>

<style>
  footer {
    position: static;
    bottom: 0;
    width: 100%;
    background: var(--bg-2);
    color: var(--text-2);
    padding: 1rem;
    text-align: center;
  }

  p {
    font-size: 0.8rem;
  }
</style>
